.pointer{
  cursor: pointer;
}

.folder{
  max-height: 50vh;

  overflow-y: scroll;
}

.file-content{
  max-height: 50vh;

  overflow-y: scroll;

  word-wrap: break-word;
}

.link{
  text-decoration: none !important;
}

.menu-item{
    cursor: pointer;
    transition: .2s;
    
    &:hover{
        background: rgba(222, 226, 230, .5);
        border: 1px solid #fff;
    }
}